# Python
backend/venv/
__pycache__/
*.pyc

# ML
backend/dataset/
backend/model.h5
backend/*.pdf

# React
frontend/node_modules/
frontend/build/

# OS
.DS_Store
backend/model.h5
backend/dataset/
backend/venv/
.venv/
frontend/node_modules/


